* {
  margin: 0%;
  padding: 0%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: #181854;
  overflow-x: hidden;
}

#banner {
  background-image: url("./img/banner-img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.no-scroll {
  overflow: hidden;
}

.border-b-form {
  border-bottom: "5px solid #f00";
}
