* {
  margin: 0%;
  padding: 0%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: rgb(24, 24, 84); 
}

#aboutUs {
  background-image: url("../src/img/pexels-photo-5069609.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

