* {
  margin: 0%;
  padding: 0%;
  scrollbar-gutter: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #181854;
}

#banner {
  background-image: url("./img/banner-img.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
} 


